server.port: 8080
spring:
  profiles.active: dev
  application.name: class-registration
  jpa:
    hibernate.ddl-auto: update
    properties.hibernate.jdbc.time_zone: GMT+8
  datasource:
    url: jdbc:h2:mem:mydb
    driverClassName: org.h2.Driver
    username: sa
    password:
  flyway:
    enabled: true
    locations: classpath:/db/migration
logging:
  level:
    root: info
    org.springframework: info
    org.springframework.security: info
    com.s2u2m.services: info